@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  cursor: url(https://cdn.custom-cursor.com/db/14312/32/gradient-gentle-sunset-cursor.png), default !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-inner-left {
  display: flex;
  animation: slide-left 20s infinite linear;
}


.carousel-item {
  min-width: 50%;
  box-sizing: border-box;
}
